[submodule "linphone-sdk"]
	path = linphone-sdk
	url = https://gitlab.linphone.org/BC/public/linphone-sdk.git
[submodule "flexisip"]
	path = flexisip
	url = https://gitlab.linphone.org/BC/public/flexisip.git